
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  display: flex;
  flex-direction: row;
}

.pokemon-list{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.card{
  width: 10em;
  height: 14em;
}

.random-selection{
  display: flex;
  flex-direction: row;
}